<div class="container-fluid">
	<div class="row">	
		<div class="col-md-12 p-0">
			<div *ngIf="loading" class="spinner-container">
				<i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i>
			</div>
			<div *ngIf="!loading">
				<div class="search-wrapper">
					<div class="container-search">
					    <div class="container-input">
					      <input type="text" list="psychology_theories_list" id="psychology_theories_search" class="search-term" placeholder="Busca por nombre, apellido, email o número telefonico" [(ngModel)]="search">
					      	<div class="search-button" >
					        	<i class="fa fa-search"></i>
					     	</div>
					    </div>
				  	</div>
			  	</div>
				<ul class="list-group">
					<app-contact-item *ngFor="let contact of contacts | filter:search" [contact]="contact" (onDelete)="onDelete($event)"></app-contact-item>
			    </ul>
			</div>			
		</div>
	</div>
</div>
